<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStringLocal"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=MARCIONOTEBOOK\SQLEXPRESS;Initial Catalog=TP2-Academia;Integrated Security=True;"/>    
  </connectionStrings>
</configuration>
